@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<h5>You are on the Home Page of the Identity Management Application</h5>
@if (!String.IsNullOrWhiteSpace(TempData["StatusMessage"] as string))
{
    <p class="alert alert-info">@TempData["StatusMessage"].ToString()</p>
}

<p>@ViewData["User"]</p>