
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"].</h1>
<div>
    <h5>
        Thank you for confirming your email. You can now <a asp-protocol="https" asp-host="localhost:5002" asp-controller="Account" asp-action="Login">Log in here</a>.
    </h5>
</div>

