@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string SystemsDesignHomePage = Configuration["AppURLS:MainClientBaseUrl"];
}

<h1>@ViewData["Title"].</h1>
<div>
    <h5>
        Thank you for confirming your email.<a href="@SystemsDesignHomePage">Back to Systems Design Home Page</a>.
    </h5>
</div>

