
@{
    ViewData["Title"] = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"].</h1>
<h5 class="alert alert-success">Your password has been reset.</h5>
<h5 class="alert alert-info"><a asp-protocol="https" asp-controller="Account" asp-action="Login">Click here to log in</a></h5>.
