
@{
    ViewData["Title"] = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"].</h1>
<h5 class="alert alert-success">Your password has been reset.</h5>
